{% extends "main.html" %}

{% block title %} Welcome to Vender Management System {% endblock title%}
{% block top %}
<a href="{% url "OTS:home" %}">home</a>
<a href="{% url "OTS:logout" %}"> Login </a>
{% endblock %}
{% block content %}
<h1>Your Report Card<h1>
    <p>
        Hi {{candidate.name}}, you have attempted in total {{candidate.test_attempted}} tests and you have scored {{candidate.points}} on the scale of 10.
        <table>
            <tr>
                <th>Date<th>
                <th>Time<th>
                <th>Attempt<th>
                <th>Right<th>
                <th>Wrong<th>
                <th>Points<th>            
            
            </tr>
            {% for r in result%}
            <tr>
                <th>{{r.date}}<th>
                <th>{{r.time}}<th>
                <th>{{r.attempt}}<th>
                <th>{{r.right}}<th>
                <th>{{r.wrong}}<th>
                <th>{{r.points}}<th>            
            </tr>
            {% endfor %}
        </table>
    </p>
{% endblock %}